/* reset html */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    /* thanh cuộn mượt hơn */
    scroll-behavior: smooth;
}
/* common(chung)*/
.clear{
    clear: both; /* phần lấy */
}
.fontwhite {
    color: white!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}
.mt-8{
    margin-top: 8px!important;
}


/* main chính */
/* kiểu chữ */
#main{
    font-family:Lato,sans-serif;
}
/* phần chữ màu trắng */

.header{
    width: 100%;
    height: 46px;
    background-color:black;
    position:fixed;  /* thanh header bám dính*/
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    
}
.nav, .subnav{
    list-style-type: none;       /* mất dấu chấm trong list */   
    
}
.nav {
    display: inline-block;
}
.nav > li{
    display: inline-block;
    position: relative;  
}
.nav > li > a{
    text-transform: uppercase;
}
.nav li a{
    line-height: 46.5px;   /* căn chỉnh độ dài chữ trong content */
    color:white;
    text-decoration: none; /* chữ ỏ dấu gạch chân */
    display: block;
    padding: 0px 24px;
}
.nav i{   /* style icon phần more */
    font-size: 10px;
}
.nav li:hover .subnav{   /* hover để hiện subnav*/
    display: block;
}
.subnav li:hover a,    /* hover thuộc tính li trong subnav */
.nav > li:hover > a{    /* hover thuộc tính tt,sp,tt,lh,more*/
    background-color:rgba(156,200,196, 0.7);
    color:cyan;
}
.subnav {
    display: none; /* tắt hiện subnat*/
    position: absolute;  /* vị trí con ăn tọa độ vị trí mẹ*/
    background-color:white;
    box-shadow: 0 0 10px black; /* bóng đổ*/
    min-width: 160px;
}
.subnav li a{
    padding: 0 16px;
    line-height: 36px;
    color: black;
}
/* phần style div menu icon trong moblie */
.header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 24px;
    display: none;
}

 
.header .nav-find{ /* tạo khối icon bên phải*/
    float: right;
    padding: 0 24px;
    
    
}

.header .nav-find:hover ,
.header .nav-find:hover i {      /* di chuyển chuột đổi màu khối icon*/
    background-color: tomato;
    color: white;
    
}
.header .menu-icon,
.nav-find i{           /* style icon phần find */
    color:yellowgreen;
    font-size: 20px;
    line-height: 46px;
    
}
/* phần mobile hover của icon  */
.header .mobile-menu-btn:hover{
    background-color: #757575;
}


/* phần bắt đầu css slider */
.slider{
    padding-top: 50%; /* 50% độ dài của đô cao hình ảnh */
    background-color:white;
    margin-top: 46px;  /*Cách lề trên */
    background: url('/assets/css/image/wallpaperflare.com_wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; /* lấy hết anh loại bỏ khaorng trống*/
    position: relative;
}
.slider .contentslider{
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
    color: beige;
    
}
.slider .text-heading{
    font-weight: 400;
    padding-bottom: 20px;
    
}
.slider .text-decription{
    font-size: 50px;
    font-weight: 100;
} 
/* phần content */

.content .content-section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
}
.content .content-heading{
    text-align: center;
    letter-spacing: 4px;
    margin: 15px 0;
    font-weight: 500;
    
}
.content .content-sub-heading{
    text-align: center;
    margin: 10px 0;
    font-style: italic;  /* chữ in ngiênng*/
    opacity: 0.5;
    color: cadetblue;
    font-size: 25px;
}
.content .content-fisrt{
    margin: 15px 0;
    text-align: justify;
    line-height: 20px;
}
/* phần member */
.content .memberlist{
    padding: 32px 0 ;
    
}
.content .memberitems{
    width: 33.33333%;
    float: left;
    text-align: center;
}
.content .membername{
    margin: 15px 0;
}
.content .memberimg{
    width: 151px;
    border-radius: 5px;
}
/* phần pod */
.content .podground{
    background-color: black;

}
.content .tickets-list{
    margin-top: 40px;
    background-color: white;
}
.tickets-list li{
    list-style-type: none;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid  rgba(99, 99, 100, 0.5);
    
}
.tickets-list .sold-out{
    color: white;
    background-color: tomato;
    padding: 3px 4px;
    margin-left: 16px;
    
}
.tickets-list .quatity{ /* tạo hình tròn màu đen*/
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    margin-top: -2px;
}
/* phần hình ảnh và nội dung */
.podground .podtable{
    margin-top: 40px;
    padding-bottom: 40px;
    margin-left: -13px;
    margin-right: -13px;
    
}
.podground .podlist{   
    width: 33.33333%;
}
.podground .podimg{
    width: 100%;
    display: block;
}
.podground .podimg:hover{
    opacity: 0.5;
}
.podground .podlist-items{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}
.podground .podlistcontent{
    font-size: 15px;
    
}
.podground .podlistdate{
    padding: 15px 0;
    color: #757575;
}
.podground .podlistdecr{
    margin: 16px 0;
}
.podground .podbutton{
    color: white;
    background-color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
}
.podground .podbutton:hover{ /* hover nút thay đổi màu */
    background-color: silver;
    color: black;
    cursor: pointer;
}

/* làm modal ticket */
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(rgb(63, 58, 58),0.5);
    align-items: center;
    justify-content: center;
    display: none;
}
/* hiển thị đóng mở modal tiket */
.modal.open{
    display: flex;
}
.modal .modal-container{
    background-color: white;
    width: 600px;
    min-height: 200px;
    position: relative;
    max-width:calc(100% - 32px);
    /* animation của modal */
    animation: modalFadeIn ease 0.5s;
    
}
.modal .modal-close{
    position: absolute;
    right: 0;
    padding: 10px;
    color: white;
}  
.modal .modal-close:hover{
    color:black;
    background-color: cornflowerblue;

}
.modal .modal-header{
    display: flex;
    background-color: turquoise;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 30px;
    color: white;
}
.modal-header i{
    margin-right: 10px;
}
.modal .modal-body{
    padding: 0 16px;
}
.modal .modal-label{
    display: block;
    margin: 15px 0;
}
.modal .modal-input{
    width: 100%;
    padding: 8px 0;
    border: 1px solid #757575;
    margin-bottom: 15px;
    
}
.modal .modal-button{
    display: block;
    width: 100%;
    background-color: turquoise;
    padding: 15px 0;
    margin-top: 15px;
    border-style: hidden;
    font-size: 15px;
    margin-bottom: 15px;
}
.modal .modal-button:hover{
    color: white;
    background-color: #757575;
}
.modal .modal-needhelp{
    padding: 15px;
    text-align: right;
}
.modal .modal-needhelp a{
    color:cadetblue;
}

/* tạo animation cho modal  */

@keyframes modalFadeIn {
    from{
        transform: translateY(-130px);
        opacity: 0.1;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* băt đầu css phần contact */
.content-section .contact-content{
    margin-top: 48px;
    margin-bottom: 20px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}
/* gọi class i cách nâng cao  */
.contact-info i[class*="ti-"]{  
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-content .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-submit-btn{
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    float: right;
}
.contact-form .form-submit-btn:hover{
    cursor: pointer;
    background-color: #757575;
    color: black;
}

/* phần footer hình ảnh và nội dung */
.footer .social-list{
    padding: 64px 18px;
    text-decoration: none;
    text-align: center;
}
.social-list a{
    font-size: 20x;
    text-decoration: none;
    color: rgba(99, 99, 100, 0.9);
    
}
.social-list a:hover{
    cursor: pointer;
    color: rgba(99, 99, 100, 0.5);
   
}
.social-list p{
    font-size: 12px;
    color: black;
    margin: 15px 0;
}